doctype 5
html
  head
    title WaterCooler - #{title}
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="//fonts.googleapis.com/css?family=Courgette", rel="stylesheet", type="text/css")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/styles/bootstrap-glyphicons.min.css", rel="stylesheet", type="text/css")
    link(href="/styles/application.css", rel="stylesheet", type="text/css")
    block styles
  body
    .navbar.navbar-inverse.navbar-static-top
        .container
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") WaterCooler
            - if (req.session.user)
                ul.nav.navbar-nav.pull-right
                    li#user-dropdown.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown")
                            | Logged in as&nbsp;
                            span #{req.session.user.firstName} #{req.session.user.lastName}
                        ul#user-menu.dropdown-menu(role="menu")
                            li
                                a(href="/account") <i class="glyphicon glyphicon-cog glyphicon-white"></i> Account Settings
                            li
                                a(href="/user/#{req.session.user.username}") <i class="glyphicon glyphicon-user glyphicon-white"></i> Profile
                            li
                                a(href="/logout") <i class="glyphicon glyphicon-off glyphicon-white"></i> Logout
                .nav-collapse.collapse.navbar-responsive-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a#roomsLabel.dropdown-toggle(href="#", data-toggle="dropdown") Rooms&nbsp;
                              b.caret
                            ul.rooms-list.dropdown-menu(role="menu", aria-labelledby="roomsLabel")
                        li.dropdown
                            a#groupsLabel.dropdown-toggle(href="#", data-toggle="dropdown") Groups&nbsp;
                              b.caret
                            ul.groups-list.dropdown-menu(role="menu", aria-labelledby="groupsLabel")

    block content

    script(type="text/javascript", src="/js/socket.io.js")

    script(type="text/javascript", src="/js/sails.io.js")

    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/global.js")

    block scripts
