@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

.container-fluid {
    padding: 0;
}

.date {
    margin-right: 5px;
}

#content {
    overflow-y: scroll;
    margin: 0;
    word-wrap: break-word;
}

.controls {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
    background: url('/assets/img/tweed.png') repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .controls {
        background: url('/assets/img/tweed_@2X.png') repeat;
    }
}

#field-container {
    display: inline-block;
    float: none;
    margin-left: 5px;
}

#control-form {
    margin: 0;
}

#name {
    margin-right: 5px;
}

#sidebar {
    margin-left: 0;
    width: 15.3%;
}

#user-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar header {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6),to(#d3d3d3));
    background-image: -o-linear-gradient(top, #e6e6e6, #d3d3d3);
    background-image: -moz-linear-gradient(top, #e6e6e6, #d3d3d3);
    background-image: -webkit-linear-gradient(top, #e6e6e6, #d3d3d3);
    background-image: -ms-linear-gradient(top, #e6e6e6, #d3d3d3);
    background-image: linear-gradient(top, #e6e6e6, #d3d3d3);
    color: #555;
    display: inline-block;
    height: 18px;
    padding: 5px 12px;
    width: 100%;
    border-bottom: 1px solid #c3c3c3;
    margin: 0;
    text-shadow: inset 1px 1px 1px #ccc;
    box-shadow: inset 0 0 1px #ccc;
}

#user-list li {
    width: 100%;
    padding: 4px 12px;
    border-bottom: 1px solid #e6e6e6;
}
