{
    "app": {
        "host": "localhost",
        "port": 3700,
        "name": "WaterCooler"
    },
    "integrations": {
        "youtube": {
            "apikey": "INSERT_YOUR_YOUTUBE_API_KEY_HERE"
        }
    }
}
