extends ../layout

block content
    .container.center
        #alerts.row
        .row
            aside.col-lg-3
                .well.well-small
                    ul.nav.nav-stacked.nav-pills
                        li
                            a(href="/dashboard") Dashboard
                        li
                            a(href="/account") Account
                        li
                            a(href="/messages") Messages
                .well.well-small
                    h5 Rooms
                    ul.rooms-list.nav.nav-stacked.nav-pills
                .well.well-small
                    h5 Groups
                    ul.groups-list.nav.nav-stacked.nav-pills
                - if (req.session.isAdmin)
                    .well.well-small
                        h5 Application Management
                        ul.nav.nav-stacked.nav-pills
                            li
                                a(href="/groups/manage") Group Management
                            li
                                a(href="/rooms/manage") Room Management
                            li
                                a(href="/users/manage") User Management
            block module
                #rooms.col-lg-9
                    .well
                        h1.text-center.text-muted.text-light No rooms found!

    footer.container
        p.text-muted.text-light Copyright &copy; 2013 Max Fierke &middot; Licensed under the MIT license &middot; <a href="https://github.com/maxfierke/WaterCooler/issues">Report a bug</a>

block scripts
    script(type="text/javascript", src="/js/moment.min.js")
