extends ../layout

block content
    #container.container
        #alerts.row
        #login-container.row.well.center
            form#login-form.col-lg-5
                h3 Login
                input.input-block-level(type="text", id="loginName", placeholder="Username", required)
                input.input-block-level(type="password", id="loginPassword", placeholder="Password", required)
                button#loginButton.btn.btn-primary.btn-block(type="submit") Login
            .col-lg-1
                h4.vertical-center OR
            form#signup-form.span6
                h3 Signup
                div
                    div.col-lg-6
                        input#signupFirstName.input-block-level(type="text", value="", placeholder="First Name", required)
                    div.col-lg-6
                        input#signupLastName.input-block-level(type="text", value="", placeholder="Last Name", required)
                input.input-block-level(type="text", id="signupUsername", placeholder="Username", required)
                input.input-block-level(type="email", id="signupEmail", placeholder="Email", required)
                input.input-block-level(type="password", id="signupPassword", placeholder="Password", required)
                input.input-block-level(type="password", id="signupConfirmPassword", placeholder="Confirm Password", required)
                button#signupButton.btn.btn-primary.btn-block(type="submit")  Signup

block scripts
    script.
        $("#login-form").submit(function(e){
            var username = $("#loginName").val();
            var password = $("#loginPassword").val();
            if (username && password) {
                $.post('/login',
                    { username: username, password: password },
                    function () {
                        window.location = "/account";
                    }
                ).fail(function(res){
                    $('#alerts').html('<div class="alert alert-error">'+res.responseJSON.error+'</div>');
                });
            } else {
                $('#alerts').html('<div class="alert alert-error">Username and password are required</div>');
            }
            e.preventDefault();
        });
        $("#signup-form").submit(function(e){
            var firstName = $("#signupFirstName").val();
            var lastName = $("#signupLastName").val();
            var username = $("#signupUsername").val();
            var password = $("#signupPassword").val();
            var confirmPassword = $("#signupConfirmPassword").val();
            var email = $("#signupEmail").val();
            if (username && password) {
                if (password === confirmPassword) {
                    $.post('/signup',
                        { firstName: firstName, lastName: lastName, username: username, password: password, email: email },
                        function () {
                            window.location = "/account";
                        }
                    ).fail(function(res){
                        $('#alerts').html('<div class="alert alert-error">'+res.responseJSON.error+'</div>');
                    });
                } else {
                    $('#signupPassword').popover({
                    title: "Validation Error",
                    content: "Passwords don't match"
                }).click();
                }
            } else {
                $('#alerts').html('<div class="alert alert-error">Username and password are required</div>');
            }
            e.preventDefault();
        });
