extends ../layout

block styles
    style.
        body { background: #efefef; }
        .navbar { margin-bottom: 0; }

block content
    .container-fluid(ng-controller='ChatController', wc-stage)
        .row.chat-row
            .container-fluid.col-lg-10.col-9.col-sm-9
                #room-info
                    h4#room-name.inline-heading {{ room.name }}
                    #room-topic.inline-heading {{ room.description }}
                #content.well
                    .message.col-12(ng-repeat='message in messages')
                        .message-header.col-lg-2.col-md-3.col-sm-4
                            img.pull-left.avatar(src='https://secure.gravatar.com/avatar/{{message.user.gravatar_hash}}?s=32')
                            time(datetime='{{message.createdAt}}') {{ message.createdAt | fromNow }}
                            br
                            b(ng-if='message.user.firstName && message.user.lastName').
                                {{ message.user.firstName }} {{ message.user.lastName }}
                            b(ng-if='!(message.user.firstName && message.user.lastName)')
                                {{ message.user.username }}
                            .clearfix
                        .message-content.col-lg-10.col-md-9.col-sm-8.well.well-sm
                            span(ng-bind-html='message.message')
                            div(ng-if='message.ext_ref.youtube')
                                hr
                                wc-video(href='', video-id='{{message.ext_ref.youtube}}', thumbnail='', type='youtube', title='', description='')
                            div(ng-if='message.ext_ref.vimeo')
                                hr
                                wc-video(href='', video-id='{{message.ext_ref.vimeo}}', thumbnail='', type='vimeo', title='', description='')
                            div.col-xs-3(ng-if='message.ext_ref.image')
                                a(ng-href='{{message.ext_ref.image}}')
                                    img.img-responsive.img-thumbnail(ng-src='{{message.ext_ref.image}}')
            aside#sidebar.col-lg-2.col-sm-3.col-3
                header Users
                ul#user-list
                    li(data-clientId='{{client.id}}', ng-repeat='client in clients')
                        img(src='https://secure.gravatar.com/avatar/{{client.gravatar_hash}}?s=32')
                        a(href='/user/{{client.username}}')
                            span(ng-if='client.firstName && client.lastName') {{ client.firstName }} {{ client.lastName }}
                            span(ng-if='!(client.firstName && client.lastName)') {{ client.username }}
                        span.label.label-info(ng-if='client.id === activeUser.id') Me
        .controls.row.col-lg-12.col-12.col-sm-12
            form#control-form.form-inline(ng-submit='postMessage()')
                .col-lg-10.col-sm-10.col-10
                    input#field.form-control(type='text', ng-model='currentMessage', placeholder='Message', autocomplete='off')
                .col-lg-2.col-sm-2.col-2
                    button#send.btn.btn-primary.btn-block(type='submit') Send
        .clearfix

block scripts
    script(type='text/javascript').
        var activeUser = !{user};
