extends ../layout

block styles
    style.
        body { background: #efefef; }
        .navbar { margin-bottom: 0; }

block content
    .container-fluid
        .row.chat-row
            #content.well.col-lg-10
            aside#sidebar.col-lg-2
                header Users
                ul#user-list
        .controls.row.col-lg-12
            form#control-form.form-inline
                .col-lg-10
                    input#field.form-control(type='text', placeholder='Message', autocomplete='off')
                .col-lg-2
                    button#send.btn.btn-primary.btn-block(type='button') Send
        .clearfix

block scripts
    script(type='text/javascript').
        var activeUser = !{user};
    script(src='/js/helpers.js', type='text/javascript')
    script(src='/js/watercooler.js', type='text/javascript')
    script(src='/js/app.js', type='text/javascript')
